- each photoset in collection
    .file(data-id="#{photoset.id}" data-name="#{photoset.title}" data-type="photoset")
        .icon
            img(src="assets/icons/blank.png")
            img(class="imgThumb")
        .name #{photoset.title}



