- each photo in collection
    .file(data-id="#{photo.id}" data-name="#{photo.title}" data-type="photo")
        .icon
            img(src="assets/icons/blank.png")
            img(src="#{photo.url}" class="imgThumb")
        .name #{photo.title}
