- each item, i in sequence
  - if (i != sequence.length - 1)
    li(data-path="#{item.path}")
      a(href="#") #{item.name}
      span.divider /
  - else
    li.active(data-path="#{item.path}")
      a(href="#") #{item.name}