- each file in files
    .file(data-path="#{file.path}")
        .icon
            img(src="assets/icons/#{file.type}.png")
            if file.thumbnail
                img(src="data:image/jpeg;base64,#{file.thumbnail}" class="imgThumb")
        .name #{file.name}