ul.nav.nav-pills.nav-stacked
    li.nav-header Main
    li.active
        a.local-view(href="javascript:void(0)")
            i.fa.fa-home
            |  Local
    li
        a.flicker-view(href="javascript:void(0)")
            i.fa.fa-flickr
            |  Flicker
    li
        a.sync-view(href="javascript:void(0)")
            i.fa.fa-refresh
            |  Sync
    li
        a.queue-view(href="javascript:void(0)")
            i.fa.fa-list
            |  Queue
    li.nav-divider
    li.nav-header Settings
    li
        a(href="javascript:void(0)")
            i.fa.fa-cogs
            |  Configuration
    li
        a(href="javascript:void(0)")
            i.fa.fa-flag
            |  About
