div#container
    aside.appPanel.appPanel-control
    .main.flex-column
        .content.flex-column.flex-grow
            .flex-grow.flex-column#localView
            .flex-grow.flex-column#flickrView(style={display: "none"})
            .flex-grow.flex-column#syncView(style={display: "none"})