.flex-shrink
    ul.addressbar.breadcrumb
        li
            button a
        li
            button a

.flex-grow.appPanel.flex-row.no-padding
    .col-md-6.col-sm-6.appPanel.flex-grow.flex-column
        .addressbar.breadcrumb.flex-shrink local
        .addressbar.breadcrumb.flex-grow data1
    .col-md-6.col-sm-6.appPanel.flex-grow.flex-column
        .addressbar.breadcrumb.flex-shrink flickr
        .addressbar.breadcrumb.flex-grow data2