.flex-shrink.appPanel.appPanel-control.btn-group.addressbar
    button.btn.btn-default#getTrees Load trees
    button.btn.btn-default.disabled#doCompare Compare trees
    button.btn.btn-default.disabled#doQueue Queue selected
.flex-grow.flex-row.no-padding
    .col-md-6.col-sm-6.no-padding.flex-grow.flex-column#dataLocal(style="margin-right:5px")
        .breadcrumb.flex-shrink.addressbar local
        .breadcrumb.flex-grow.data.flex-column.no-padding
    .col-md-6.col-sm-6.no-padding.flex-grow.flex-column#dataFlickr(style="margin-left:5px")
        .breadcrumb.flex-shrink.addressbar flickr
        .breadcrumb.flex-grow.data.flex-column.no-padding