.flex-shrink.appPanel.appPanel-control.btn-group.addressbar
    button.btn.btn-default#getTrees Load trees
    button.btn.btn-default.disabled#doCompare Compare trees
    button.btn.btn-default.disabled#doQueue Queue selected
.flex-grow.appPanel.flex-row.no-padding
    .col-md-6.col-sm-6.appPanel.flex-grow.flex-column#dataLocal
        .breadcrumb.flex-shrink.addressbar
        .breadcrumb.flex-grow.data.flex-column
    .col-md-6.col-sm-6.appPanel.flex-grow.flex-column#dataFlickr
        .breadcrumb.flex-shrink.addressbar
        .breadcrumb.flex-grow.data.flex-column