.flex-shrink.appPanel.appPanel-control.btn-group.addressbar
    button.btn.btn-default#start start
    button.btn.btn-default.disabled#stop stop
.flex-grow.appPanel.no-padding
    ul.col-md-12.col-sm-12.appPanel#queueList
        li Collections
            ul.collections
        li Albums
            ul.albums
        li Photos
            ul.photos